.container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #F5F7FA;

}



.teslaLogo{
    display: flex;
    justify-content: space-between;

}



.firstDiv{
justify-content: space-evenly;
}